body{
  background-color: #33f64d;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
ul{
  padding-inline-start: 0px;
}
a{
  text-decoration: none;
  color:black
}
li{

  list-style: none;
}
.enlaces{
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
  justify-content: center;
  margin-left: 0px;
  


}
.enlaces li {
  padding: 5%;
  
}
/* 
.enlaces li a:hover{
  color:black;

}
.enlaces li a{
  color:white;

}*/

/* .NavBar{
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  width: 100%;
} */

.App-header {
  background-color: #33f64d;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
